h1 {
    font-family: 'Times New Roman', Times, serif;

	color: #939;
}
h2 {
    font-family: 'Times New Roman', Times, serif;

	color: #c60;
}
.indent {
    text-indent: 20px;
}
body {
    background-color: rgb(210, 220, 157);
    }
