
@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: Poppins;
}
#nav{
    top: 0;
    position: fixed;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.left{
    text-align: left;
    margin-right: 45%;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 3px;
    color: black;
}
.right{
    padding: 25px;
    text-decoration: none;
    color: black;
    font-size: small;
    font-weight: bolder;
}
.right:hover{
    color: #F24511;
}
#hero{
    background-image: url('images/page-heading-bg.jpg');
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    text-align: center;

}

.textcenter2{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 3em;
}

.textcenter1{
    align-items: center;
    text-align: center;
    border-color: white;
    font-size: 2em;
    border-style: solid; 
    border-width: 3px;
    width: 500px;
    border-left: 100%;
    background-image: linear-gradient(white,white,white);
    margin-left: 38%;
    
}
  
 p {
    margin-bottom: 50px;
  }
  
 .item {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
    display: inline-block;
    min-width: 360px;
  }
  
 .phone {
    margin-bottom: 30px;
  }
  
.item img {
    float: left;
    margin-right: 25px;
    vertical-align: middle;
  }
  
 .item h6 {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
  }
  
 .item h6 span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
  }
  
#contact-form {
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
  }
  
 #contact-form label {
    font-size: 15px;
    color: #3a3a3a;
    margin-bottom: 15px;
  } 
  
 #contact-form input {
    width: 100%;
    height: 44px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 30px;
    font-size: 14px;
    padding: 0px 15px;
  }
  
 #contact-form textarea {
    width: 100%;
    height: 150px;
    max-height: 180px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 40px;
    font-size: 14px;
    padding: 15px 15px;
  }
  
 #contact-form button {
    background-color: #1e1e1e;
    height: 44px;
    border-radius: 22px;
    padding: 0px 20px;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;



  }
  
  .color{
    color: red;
    
  }

  #map {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .Contactleft{
    position: absolute;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 45%;
    margin-bottom: 100%;
    max-height: 180px;
    width: 50%;
    
  }

  .contact{
    padding-left: 2%;
    font-size: large;
  }

  footer{
    padding-top: 25px ;
    padding-bottom: 5px;
    font-size: smaller;
    text-align: center;
    color: white;
    background-color: rgb(26, 24, 24);
    height: 60px;
  }
